<div class="container-fluid">
  <div class="row hor_space_100">
    <div class="col-md-8"></div>
    <div class="col-md-8">
      <div class="col-md-8 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Register New User
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors.summary !== null">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errors.summary}}
          </div> 
          <div class="panel-body">
            <form
              novalidate
              (ngSubmit)="processForm()"
              #registerForm="ngForm">
              
              <div class="form-group">
                <div [ngClass]="{'has-error' : (emVar.touched || emVar.dirty) && !emVar.valid}">
                <label for="email">Email Address</label>
                <div class="alert alert-danger" role="alert" *ngIf="errors.email !== null">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errors.email}}
                </div>
                <input type="text"
                        name="email"
                        id="email"
                        class="form-control"
                        required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      
                        placeholder="Email (Required)"
                        [(ngModel)]="user.email"
                        #emVar="ngModel">
                        <span class="help-block" *ngIf="(emVar.touched || emVar.dirty) && emVar.errors">
                          <span *ngIf="emVar.errors.required">
                            A email address is required
                          </span>
                          
                          <span *ngIf="emVar.errors.pattern">
                            Please enter a valid email address
                          </span>
                        </span>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error' : (disNameVar.touched || disNameVar.dirty) && !disNameVar.valid}">
                <label for="disName">Display Name</label>
                <div class="alert alert-danger" role="alert" *ngIf="errors.displayName !== null">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errors.displayName}}
                </div>
                <input type="text"
                        name="disName"
                        id="disName"
                        class="form-control"
                        required
                        placeholder="Display Name (Required)"
                        [(ngModel)]="user.displayName"
                        #disNameVar="ngModel">
                        <span class="help-block" *ngIf="(disNameVar.touched || disNameVar.dirty) && disNameVar.errors">
                          A display name is required
                        </span>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error' : (pw1Var.touched || pw1Var.dirty) && !pw1Var.valid}">
                <label for="password1">Password</label>
                <div class="alert alert-danger" role="alert" *ngIf="errors.password !== null">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errors.password}}
                </div>
                <input type="password"
                        id="password1"
                        name="password1"
                        class="form-control"
                        required
                        placeholder="Password (Required)"
                        [(ngModel)]="user.password"
                        #pw1Var="ngModel">
                        <span class="help-block" *ngIf="(pw1Var.touched || pw1Var.dirty) && pw1Var.errors">
                          A password is required
                        </span>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error' : (pw2Var.touched || pw2Var.dirty) && !pw2Var.valid}">
                <label for="confirm_password">Confirm Password</label>
                <input type="password"
                id="confirm_password"
                name="confirm_password"
                class="form-control"
                required
                placeholder="Confirm Password (Required)"
                [(ngModel)]="user.confirm_password"
                #pw2Var="ngModel">
                <span class="help-block" *ngIf="(pw2Var.touched || pw2Var.dirty) && pw2Var.errors">
                  Please confirm your password
                </span>
                </div>
              </div>

              <div *ngIf="user.password !== user.confirm_password" class="alert alert-warning">
                Passwords Do Not Match
              </div>

              <div class="form-group">
              <span>
              <button type="submit"
                     class="btn btn-success btn_narrow"
                     [disabled]="!registerForm.valid"
                     >Register</button> 
               <button type="button"
                     class="btn btn-default btn_narrow "
                     (click)="cancel()">Cancel</button>
              </span>
              </div>

            </form>
          </div>
          <div class="panel-footer">
            Register? <a [routerLink]="['']" href="">Login Here</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>