<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color = "primary">
    <span>HappyHour</span>
    <div class="btn-group" role="group" aria-pressed="true" aria-label="..." *ngIf='AuthService.isUserAuthenticated()'>
      <button type="button" class="btn btn-default">{{AuthService.getEmail()}}</button>
      <button type="button" class="btn btn-default"><a href="/logout">Log out</a></button>
    </div>
    <div class="btn-group" role="group" aria-pressed="true" aria-label="..." *ngIf='!AuthService.isUserAuthenticated()'>
      <button type="button" class="btn btn-default"><a href="/login">Log in</a></button>
      <button type="button" class="btn btn-default"><a href="/signup">Sign up</a></button>
    </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>

