<div class="container-fluid">
  <div class="row hor_space_100">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">     
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
              Login
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors.summary !== null">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errors.summary}}
          </div>          
          <div class="panel-body">
            <form
              novalidate
              action ="/"
              (ngSubmit)="processForm()"
              #loginForm="ngForm">
              <div class="form-group">
                <div [ngClass]="{'has-error' : (emVar.touched || emVar.dirty) && !emVar.valid}">
                <label for="email">Email Address</label>
                <div class="alert alert-danger" role="alert" *ngIf="errors.email !== null">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errors.email}}
                </div>
                <input type="text"
                        name="email"
                        id="email"
                        class="form-control"
                        required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      
                        placeholder="Email (Required)"
                        [(ngModel)]="user.email"
                        #emVar="ngModel">
                        <span class="help-block" *ngIf="(emVar.touched || emVar.dirty) && emVar.errors">
                          <span *ngIf="emVar.errors.required">
                            Please enter your email
                          </span>
                          
                          <span *ngIf="emVar.errors.pattern">
                            Please enter a valid email address
                          </span>
                        </span>
                </div>
              </div>
              <div class="form-group">
                <div [ngClass]="{'has-error': (pw1Var.touched || pw1Var.dirty) && !pw1Var.valid}">
                <label for="passowrd">Password</label>
                <div class="alert alert-danger" role="alert" *ngIf="errors.password !== null">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errors.password}}
                </div> 
                <input type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        required
                        placeholder="Password (Required)"
                        [(ngModel)]="user.password"
                        #pw1Var="ngModel"/>
                        <span class="help-block" *ngIf="(pw1Var.touched || pw1Var.dirty) && pw1Var.errors">
                          Please enter your password
                        </span>
                </div>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Keep me logged in.
                </label>
              </div>             
              <div class="form-group">
               <span>
               <button type="submit"
                       class="btn btn-success btn_narrow"
                       [disabled]="!loginForm.valid"
                       >Login</button> 
               <button type="button"
                       class="btn btn-default btn_narrow"
                       (click)="cancel()">Cancel</button>
              </span>
              </div>
            </form>
          </div>
          <div class="panel-footer">
            Not Registerd? <a [routerLink]="['/signup']" href="/signup">Register Here</a><br>             
          </div>
        </div>
      </div>  
  </div>
</div>